#action-bar {
  display: flex;
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;

  #participant-input {
    height: 48px;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 16px;
    border: none;
    border-left: 1px solid silver;
    text-indent: 16px;
  }

  #draw-button {
    padding: 0 32px;
    border: 1px solid;
    border-color: rgb(255, 122, 122);
    background-color: rgb(255, 122, 122);
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
      border-color: rgb(255, 86, 86);
      background-color: rgb(255, 86, 86);
      color: white;
    }
  }
}
