.participant {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;

  &:first-child {
    border-top: 1px solid gainsboro;
  }

  &.selected {
    background-color: aliceblue;
  }

  span.spouse {
    margin-left: 16px;
    color: silver;
  }
}
