* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: rgb(255, 202, 206);
  background: radial-gradient(
    circle,
    rgba(255, 202, 206, 1) 0%,
    rgba(255, 255, 255, 1) 26%,
    rgba(255, 255, 255, 1) 53%,
    rgba(197, 242, 255, 1) 78%
  );
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 80%;
  max-width: 1000px;
  height: 66%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 20px silver;
}

.action-bar {
  display: flex;
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
}

input,
select {
  height: 48px;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 16px;
  border: none;
  border-left: 1px solid silver;
  background-color: white;
  text-indent: 16px;
}

button {
  padding: 0 32px;
  border: 1px solid;
  border-color: rgb(255, 122, 122);
  background-color: rgb(255, 122, 122);
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    border-color: rgb(255, 86, 86);
    background-color: rgb(255, 86, 86);
    color: white;
  }
}
